<%- include ("../partials/header") %>

<!-- START -->
<div id="index-page">
  <div id="video-nav">
    <a class="video-button back-button" href="/">Back</a>
    <h3>Playlists</h3>
    <a class="video-button shuffle-button" href="/playlists/create">Create</a>
  </div>
  <div id="item-grid">
    <% PLAYLISTS.forEach(playlist => { %>
    <div class="item"><a href="/playlists/<%= playlist.id %>"><%= playlist.name %></a></div>
    <% }); %>
  </div>
</div>
<!-- END -->

<%- include ("../partials/footer") %>
