<%- include ("partials/header") %>

<!-- START -->
<div id="index-page">
  <div id="video-nav">
    <h1>Directories</h1>
  </div>
  <div id="item-grid">
    <% dirs.forEach(dir => { %>
    <div class="item"><a href="/<%= dir.url %>"><%= dir.name %></a></div>
    <% }); %>
  </div>
</div>
<!-- END -->

<%- include ("partials/footer") %>
