<%- include ("partials/header") %>

<!-- START -->
<h1>Directories</h1>

<div id="item-grid">
  <% dirs.forEach(dir => { %>
  <div class="item"><a href="/<%= dir.url %>"><%= dir.name %></a></div>
  <% }); %>
</div>
<!-- END -->

<%- include ("partials/footer") %>
