<%- include ("partials/header") %>

<!-- START -->
<h1>Videos</h1>
<a class="back-button" href="/">Back</a>
<div id="item-grid">
  <% vids.forEach(vid => { %>
  <div class="item"><a href="/<%= vid.url %>"><%= vid.name %></a></div>
  <% }); %>
</div>
<!-- END -->

<%- include ("partials/footer") %>
