<%- include ("partials/header") %>

<!-- START -->
<div id="index-page">
  <div id="video-nav">
    <a class="video-button back-button" href="/">Back</a>
    <h1>Videos</h1>
  </div>
  <div id="item-grid">
    <% vids.forEach(vid => { %>
    <div class="item"><a href="/<%= vid.url %>"><%= vid.name %></a></div>
    <% }); %>
  </div>
</div>
<!-- END -->

<%- include ("partials/footer") %>
