body {
  background: #1d1d1e;
  color: white;
  font-family: "verdana";
}

a {
  color: #66ccfa;
  text-decoration: none;
}

video {
  width: 100%;
  height: auto;
}

#video-container {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px;
}

#item-grid {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
}

.back-button {
  background-color: #004565;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
}
