* {
  margin: 0;
  padding: 0;
}

body {
  background: #1d1d1e;
  color: white;
  font-family: "verdana";
}

nav {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

a {
  color: #66ccfa;
  text-decoration: none;
}

#video-page {
  margin: 0;
  height: 95vh;
}

#index-page {
  margin: auto;
  margin-top: 20px;
  width: 80%;
}

#index-page h1 {
  text-align: center;
}

#index-page #video-nav {
  margin-bottom: 30px;
}

#video-nav {
  height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#video-container {
  height: 80vh;
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

video {
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 80vh;
}

#item-grid {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.item {
  height: auto;
  background: #000f17;
  border-radius: 10px;
  padding: 5px 10px;
}

.video-button {
  background-color: #004565;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  height: 20px;
}

#form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text-field {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

input[type="submit"] {
  padding: 5px 15px;
  background-color: #004565;
  color: white;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.large-submit {
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px 15px 30px 15px;
  font-size: 20px;
  width: 100%;
}
